h3{
    border-bottom: solid 2px;
}
h1{
    font-weight: 600;
}


.block-info{
  display: inline-block;
}

svg {
  display: block;
}

path.arc {
  opacity: 0.9;
  transition: opacity 0.5s;
}

path.arc:hover {
  opacity: 0.7;
}

.axis line, .axis circle  {
  stroke: #cccccc;
  stroke-width: 1px
}

.axis circle {
  fill: none;
}

.r.axis text {
  text-anchor: end
}

.tooltip {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  box-shadow: -3px 3px 15px #888;
  color: white;
  padding: 6px;
}

.block-info{
  display: block;
}

.header h1,.author{
  display: inline-block;
}

.header{
  border-bottom: solid 4px;
}

.graph-container{
      padding-top: 17px;
}
.graph-container h4{
  border-bottom: solid 2px;
}

.author{
    margin-top: 40px;
}

.modal-header{
  border: none;
}
.modal-header h4{
  font-weight: 600;
}
.modal-header h6{
  margin-top: 0;
}
.modal-body h4{
    margin-top: 40px;
    font-weight: 600;
}
#group-members{
  min-height: 120px;
}

span.square {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 20px;
    margin-right: 5px;
  }
